/* colors and fonts:
dark-background-color (hero & footer: #1F2937
Hero main text ("This website is awesome"): 48px extra-bold #F9FAF8
Hero secondary text, header link text: 18px #E5E7EB
Header logo text: 24px #F9FAF8
Button color, call to action background color: #3882F6
Information header text: 36px extra-bold #1F2937
Quote section background color: #E5E7EB
Quote text: 36px light italic #1F2937
*/

header, footer {
    background-color: #1F2937;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.nav-links, .intro {
    font-size: 18px; 
    color: #E5E7EB;
}

.title {
    font-size: 48px; 
    font-weight: extra-bold; 
    color: #F9FAF8;
}

button {
  background-color: #3882F6;
}

.info-header {
  font-size: 36px; 
  font-weight: extra-bold; 
  color: #1F2937;
}

.quote-box {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px; 
    font-weight: light; 
    color: #1F2937;
    font-style: italic;
}

.CTA {
    background-color: #3882F6;
}



