html {
    background-color: #3B0663;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fafafa;
}

.navbar {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.links {
    display: flex;
    list-style: none;
    padding: 8px;
}

li {
  font-size: 20px;
  font-weight: 800;
  padding: 20px;
}

#logo {
    max-width: 100px;
    height: auto;
    margin-right: auto;
}

.heading {
    font-size: 40px;
}

.intro {
    font-size: 20px;
    font-weight: 300;
    color: #ECDFF6;
}

.section-1 {
    display: flex;
}